						
:root {
	--theme-colorOne: #ff0000;
	--theme-colorTwo: #ffffff;
	--background-color: #000000;
	--text-fontFamily: sans-serif;
	--text-colorOne: #F8F8F8;
	--text-colorTwo: #808080;
	--faq-bkColor: #505050;
}

/*Common css */
.text-decoration-underline{
	text-decoration:underline;
}

.custom-form-control{
	height:48px;
	border-color:#ffffff;
}
/*end of common css*/

.header-logo {
	height: 100px;
}

.footer-mainDiv{
	background-color:var(--background-color);
	padding-top:3rem;
}

.footer-nav-div {
	margin-bottom: .4rem;
}

.footer-nav-textStyle {
	font-family: sans-serif;
	font-style: normal;
	font-size: 16px;
	line-height: 1.6;
	font-weight: normal;
	text-transform:capitalize;
	color: var(--text-colorTwo);
}

a.footer-nav-textStyle:hover{
	color:var(--text-colorOne);
}

.footer-copywrite-textStyle {
	font-family: var(--text-fontFamily);
	font-style: normal;
	font-size: 10px;
	line-height: 12px;
	font-weight: normal;
	padding-bottom: 1rem;
	color: var(--text-colorOne);
}

.sectionOne {
	width:100%;
	height:85vh;
	/*filter:brightness(.6);*/
	background-image: url('../Images/NYCTM-Home-Banner-39.png');
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center center;
}


.sectionOne-container {
	height: 75vh;
}

.sectionOne h2{
	font-family:var(--text-fontFamily);
	font-size:45px;
	font-style:normal;
	line-height:1.6;
	letter-spacing:normal;
	font-weight:600;
	color:var(--text-colorOne);
}

.sectionOne p, .form-email-header {
	font-family: var(--text-fontFamily);
	line-height: 1.6;
	font-style: normal;
	letter-spacing: normal;
	color: var(--text-colorOne);
}

.sectionOne p.paraOne{
	font-size:22px;
}

	.sectionOne p.paraTwo, .form-email-header {
		font-size: 18px;
	}

.banner-form-input{
	background-color:rgb(0,0,0,0.4);
}

.banner-form-submitBtn{
	height:48px;
	padding-left:20px;
	padding-right:20px;
}

.banner-form-submitBtn-textStyle{
	font-family:var(--text-fontFamily);
	font-size:20px;
	font-style:normal;
	font-weight:600;
	line-height:1.6;
	letter-spacing:normal;
	color:var(--text-colorOne);
}

.arrowImgStyle {
	width: 25px;
	filter: invert(1);
	margin-top: 4px;
	margin-left: 15px;
}

.section-border-bottom{
	border-bottom:8px solid var(--text-colorTwo);
}

.sectionTwo, .sectionThree, .sectionFour, .sectionFive {
	padding: 4rem 0 4rem 0;
}

.sectionSix {
	padding: 4rem 0 4rem 0;
}

.section-bg {
	background-color: var(--background-color);
}

.section-header{
	font-family:var(--text-fontFamily);
	font-size:45px;
	font-style:normal;
	line-height:1.6;
	font-weight:600;
	letter-spacing:normal;
	color:var(--text-colorOne);
}

.section-para{
	font-family:var(--text-fontFamily);
	font-size:22px;
	font-style:normal;
	line-height:1.6;
	font-weight:normal;
	letter-spacing:normal;
	color:var(--text-colorOne);
}

.sectionThree-imgTwo {
	position: absolute;
	bottom:0;
	left:2rem;
	width: 500px;
	height: 100px;
	background-image: url(https://placehold.co/500x100);
	background-repeat:repeat;
	background-size:contain;
	background-position:center center;
}

.sectionFour-imgTwo {
	position: absolute;
	bottom: 0;
	left: 2rem;
	width: 85px;
	height: 140px;
	border:1px solid;
	background-image: url(https://placehold.co/85x140);
	background-repeat: repeat;
	background-size: contain;
	background-position: center center;
}

.sectionFour-imgThree {
	position: absolute;
	bottom: 0;
	right: 2rem;
	width: 140px;
	height: 185px;
	border: 1px solid;
	background-image: url(https://placehold.co/85x140);
	background-repeat: repeat;
	background-size: contain;
	background-position: center center;
}

.accordion .card {
	margin-bottom: 10px;
	background-color: var(--faq-bkColor);
}

.accordion > .card > .card-header > h2 > .btn-link {
	font-family: var(--text-fontFamily);
	font-size: 16px;
	font-variant: normal;
	font-weight: normal;
	letter-spacing: normal;
	line-height: 1.5;
	color: var(--text-colorOne);
	text-decoration: none;
}

.card-header {
	background-color: var(--faq-bkColor);
}

.card-body p {
	font-family:var(--text-fontFamily);
	font-size:16px;
	font-variant:normal;
	font-weight:normal;
	letter-spacing:normal;
	line-height:1.5;
	color:var(--text-colorOne);
}

.accordion-plusMinSign{
	padding-top:5px;
}

/*.accordion .card-header:after {
	font-family: 'FontAwesome';
	content: "\f068";
	float: right;
}

.accordion .card-header.collapsed:after {*/
	/* symbol for "collapsed" panels */
	/*content: "\f067";
}*/